/* ContactForm.module.css */

.formContainer {
  max-width: 400px;
  margin: 0 auto;
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.formContainer label {
  display: block;
  margin-bottom: 5px;
}

.formContainer input[type="text"],
.formContainer textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.formContainer textarea {
  resize: vertical; /* Allow vertical resizing */
}

.formContainer button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.formContainer button[type="submit"]:hover {
  background-color: #0056b3;
}

.errorMessage {
  color: #ff0000;
  margin-top: 10px;
}
